<?xml version="1.0" encoding="UTF-8"?>
<!--
    Контекст приложения

    http://it-channel.ru/

    @author Budnikov Aleksandr
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="alex" class="ru.itsphere.itmoney.domain.User">
        <constructor-arg name="id" value="0"/>
        <constructor-arg name="name" value="Alex"/>
    </bean>

    <bean id="bob" class="ru.itsphere.itmoney.domain.User">
        <constructor-arg name="id" value="1"/>
        <constructor-arg name="name" value="Bob"/>
    </bean>

    <bean id="userDaoHashMapImpl" class="ru.itsphere.itmoney.dao.UserDAOHashMapImpl">
        <property name="store">
            <map>
                <entry key="0" value-ref="alex"/>
                <entry key="1" value-ref="bob"/>
            </map>
        </property>
    </bean>

    <bean id="userService" class="ru.itsphere.itmoney.services.UserServiceImpl">
        <property name="userDAO" ref="userDaoTextFile"/>
    </bean>

    <bean id="userController" class="ru.itsphere.itmoney.controllers.UserController">
        <property name="userService" ref="userService"/>
    </bean>

    <bean id="controllerResolver" class="ru.itsphere.itmoney.servlets.ControllerResolver">
        <property name="controllers">
            <map>
                <entry key="USER" value-ref="userController"/>
            </map>
        </property>
    </bean>

    <bean id="userDaoTextFile" class="ru.itsphere.itmoney.dao.UserDAOTextFileImpl">
        <constructor-arg value="store/users.txt"/>
        <property name="readerFactory" ref="dataReaderFactory"/>
    </bean>

    <bean id="dataReaderFactory" class="ru.itsphere.itmoney.dao.DataReaderFactory">
        <constructor-arg value="store/users.txt"/>
    </bean>

</beans>