<?xml version="1.0" encoding="UTF-8"?>
<!--
    Контекст приложения

    http://it-channel.ru/

    @author Budnikov Aleksandr
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">
    <!--add-->
    <context:component-scan base-package="ru.itsphere.itmoney"/>
    <context:property-placeholder location="classpath:configurations.properties" />

    <bean id="controllerResolver" class="ru.itsphere.itmoney.servlets.ControllerResolver">
        <property name="controllers">
            <map>
                <entry key="USER" value-ref="userController"/>
            </map>
        </property>
    </bean>
</beans>